p {
    color: rgb(23, 255, 2);
    border: 5px solid black;
    font-size: 25px;
}

.header{
  color: blueviolet;
  border: 5px dotted rgb(8, 184, 78);
}

#pid {
    color: #1a65e6;
    border: 5px dashed rgb(227, 16, 16);
    font-size: 30px;
}

.cat{
  color: rgb(226, 162, 43);
}

.sun {
  font-size: 10px;
}