/* a[target] {
    background-color: red;
}
 */

/* a[target=_top] {
    background-color: aqua;
} */

/* [title~=jim] {
    border: 10px solid red;
} */

/* [class|="top"] {
    background-color: aqua;
} */

/* [class^="top"] {
    background-color: chartreuse;
} */

/* [class$="test"] {
    background-color: blueviolet;
} */

/* [class*="te"] {
    background-color: aqua;
} */

input[type="text"] {
    width: 300px;
    display: block;
    margin-bottom: 10px;
    background-color: aqua;
    border-radius: 10px;
}

input[type="button"] {
    width: 100px;
    margin-left: 100px;
    margin-top: 15px;
    display: block;
    border: 3px solid red;
    border-radius: 10px;
    background-color: cornflowerblue;
}
























