/* div {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transition: width 1s, height 1s;
}

div:hover {
    width: 200px;
    height: 200px;
} */


/* div {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transition: width 3s;
}

div:hover {
    width: 300px;
}

.linear {
    transition-timing-function: linear;
}

.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}


.ease-out {
    transition-timing-function: ease-out;
}

.ease-out {
    transition-timing-function: ease-in-out;
}
 */


 div {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transition: width 3s;
    transition-delay: 1s;
}

div:hover {
    width: 300px;
}



