* { margin: 0; }

body {background-color:rgb(85, 8, 208); }


ul {
    background-color: rgb(43, 4, 108);
    lisr;
    t-style-type: none;
    text-align: centemargin: 0;
    padding: 0;
}

li {
    display: inline-block;
    font-size: 30px;
    padding: 15px;
    border: 5px solid rgb(160, 132, 7);
    background-color:rgb(96, 98, 223);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(233, 190, 6);
}










