* {
  margin: auto;
}

p {
  border: 5px solid black;
  background-color: aquamarine;
  /* margin: 10%; */
  /* margin: 10px; */
  /* margin: 0; */
  
}

.div1 {
  /* width: 400px;
  border: 5px solid red; */
  /* margin: auto; */
  /* margin-left: 203px; */
  /* margin-top: 48px; */
  /* margin-bottom: 50px; */
  /* margin: 10px 2px 50px 72px; */
  margin: 90px 500px 72px;
} 

/* .div2 {
  margin-top: 20px;
} */



